<div id="footer">
    <strong><cite>Saint-Sauveur - 3, place du Marché - 34630 Saint-Thibéry - Tél.: +33(0)9 50 40 10 37 - GSM : +33(0)6 71 16 44 01 - <a href="mailto:info@homesaintsauveur.com">info@homesaintsauveur.com</a></cite></strong>
</div>