<div id="header">
    <p style="padding: 2em 15px;">{{ accroche }}</p>
    <img src="images/saint-sauveur.png" border=0 alt="Maison d'hôte près de Agde, Pezenas, Saint Sauveur à Saint Thibéry" style="position:absolute; top: 10px; right: 170px;"/>
</div>