<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<?php if( $id < 5): ?>
<meta name="description" content="Chambres d'hôtes de charme à Saint-Thibéry pour vos séjours en Pays de Pézenas." />
<?php else: ?>
<meta name="description" content="Charming guesthouse in Saint-Thibery near Agde and Pezenas, in Languedoc France." />
<?php endif; ?>
<meta name="google-site-verification" content="oCuIAYfg4yu4CoWIrZwU_0XIyx8g4_pNw_7A8Q2DbkY" />
<meta property="og:image" content="http://www.homesaintsauveur.com/images/MaisonDroite/1.jpg" />
<link href="http://www.homesaintsauveur.com/images/MaisonDroite/1.jpg" rel="image_src" />
<title>{{  title }}</title>
<meta http-equiv="Content-Language" content="{{  lang }}" /></head>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/jquery.cross-slide.min.js"></script>
<script type="text/javascript" src="js/str_replace.js"></script>