<div id="footerlink">
    <center><table cellspacing="0" cellpadding="5" width="960">
            <tr>
                <td align="center" >&nbsp;</td>

                <td align="center" ><a style="font-weight: bold;color: #000;" href="http://www.ot-pezenas-valdherault.com/">
                        <img src="images/LogoPezenas.png" alt="Office du tourisme de Pézenas" border=0 width="150"></a><BR><a style="font-weight: bold;color: #000;" href="http://www.ot-pezenas-valdherault.com/" target="_blank"><font size="-2">A la découverte d'un site d'exception :<br/>
                            la ville de Molière, son architecture,
                            ses métiers d'art et les villages vignerons voisins.</font></a><BR>
                </td>



                <td align="center"><a href="http://www.europa-bed-breakfast.com/" target="_blank"><img src="http://www.europa-bed-breakfast.com/images/Logo_Europa_Bed_Breakfast.gif" alt="EUROPA BED and BREAKFAST : Réservation de gites et chambres d'hôtes en France" border="0" /></a></td>
                <td align="center"><a href="http://www.domaine-soleil-couchant.com/" target="_blank"><img src="images/domainesoleil.jpg" border="0" /></a><br/>
                    <a style="font-weight: bold;color: #000;" href="http://www.domaine-soleil-couchant.com" target="_blank"><font size="-2">L'étape incontournable pour découvrir l'Aude,<br/>
                            les chateaux Cathares, l'Abbaye de Fontfroide,
                            Carcassonne et les produits régionaux autour
                            d'une table d'hôtes exceptionnelle.</a></td>
            </tr>
            <tr>
                <td align="center">
                    </td>
                <td align="center" ><a style="font-weight: bold;color: #000;" href="http://www.ateliersaintsauveur.com">
                        <img src="images/ass.jpg" alt="ATELIER SAINT SAUVEUR" border="0" /></a><BR><a style="font-weight: bold;color: #000;" href="http://www.ateliersaintsauveur.com"><font size="-2"> Conception d'espaces et réalisation d'équipements
                            pour l'intérieur et l'extérieur de la maison.</font></a>
                </td>

                <td align="center"><a href="http://www.agence-differente.fr" target="_blank"><img src="images/logo_ad.png" border="0" width="120" /></a><br/>
                    <a style="font-weight: bold;color: #000;" href="http://www.agence-differente.fr" target="_blank"><font size="-2">Développement de sites internet</a></td>
                <td align="center"><a href="http://www.hervecoteplage.com/" target="_blank"><img src="images/coteplage.jpg" border="0" width="120" /></a><br/>
                    <a style="font-weight: bold;color: #000;" href="http://www.hervecoteplage.com" target="_blank"><font size="-2">Hervé Côté Plage - Restaurant Plage et Transats<br/>Rochelongue, Agde - Cap d’Agde</a></td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </center>
</div>

</body>
</html>
